Source: meedav
Section: user/other
Priority: optional
Maintainer: Timo Zimmermann <meedav@timozimmermann.de>
Build-Depends: debhelper (>= 5), libqt4-dev
Standards-Version: 3.7.3
Homepage: https://projects.developer.nokia.com/meedav

Package: meedav
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Meego WebDav-Client
 The client can be used like a common filemanager.
 Features:
 - Download
 - Upload
 - Rename
 - Delete
 - Create folder
 - http/https
XSBC-Maemo-Display-Name: meedav
XB-Maemo-Icon-26:
