[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=saildav
Exec=saildav
Name=saildav
# translation example:
# your app name in German locale (de)
Name[de]=saildav

