[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=Meedav
Exec=/usr/bin/invoker --type=d -s /opt/meedav/bin/meedav-ui
Icon=/usr/share/themes/blanco/meegotouch/icons/icon-l-meedav.png
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
